node_modules
.pnpm-store
dist
build
.next
out
.turbo
*.tsbuildinfo
.env
.env.local
.env.*.local
!.env.example
logs
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.sw?
coverage
playwright-report
test-results
packages/database/prisma/*.db
packages/database/prisma/*.db-journal
.tmp
.uploads
*.pem
infrastructure/docker/data
cookies.txt
.cache
